absl-py==0.9.0
astor==0.8.0
certifi==2019.11.28
cycler==0.10.0
Cython==0.29.15
decorator==4.4.2
efficientnet==1.1.0
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
imageio==2.8.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-resnet==0.1.0
keras-retinanet==0.5.1
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.2.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.18.1
opencv-python==4.2.0.32
pandas==1.0.2
Pillow==8.2.0
progressbar2==3.50.0
protobuf==3.11.4
pyparsing==2.4.6
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==1.0.0
wrapt==1.12.1
